<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/vue2/test07.html</title>
</head>
<body>
	<div class="container" id="app">
		<input type="text" v-model="msg" placeholder="메세지입력" />
		<button @click="clicked">추가</button>
		<ul>
			<li v-for="tmp in msgs">{{tmp}}</li>
		</ul>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		new Vue({
			el:"#app",
			data:{
				msgs:["hi"],
				msg:""
			},
			methods:{
				clicked(){
					//기존배열의 내용을 spread하고 새로 입력한 item을 추가한 새로운 배열을 얻어내서
					//모델 변경하기
					this.msgs=[...this.msgs, this.msg]; //새로운 배열을 넣어줌
					//msgs에 새로운배열을 넣어주는데, 새로운배열은 : 기존의msgs배열에 msg모델이 추가된 배열
				}
			}
		});
	</script>
</body>
</html>